header,
.topbar {
  position: fixed;
  height: 40px;
  width: 100%;
  background: #222222;
  /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
  /* Saf4+, Chrome */

  background: -webkit-linear-gradient(top, #444444, #222222);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(top, #444444, #222222);
  /* FF3.6 */

  background: -ms-linear-gradient(top, #444444, #222222);
  /* IE10 */

  background: -o-linear-gradient(top, #444444, #222222);
  /* Opera 11.10+ */

  background: linear-gradient(top, #444444, #222222);
  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="@color + #222", endColorstr="@color", GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 0px 3px 8px #000000;
  -moz-box-shadow: 0px 3px 8px #000000;
  box-shadow: 0px 3px 8px #000000;
}
header h1,
.topbar h1 {
  float: left;
  text-align: left;
  margin: 0;
  padding: 0 0 0 20px;
  font-size: 20px;
  color: #FFF;
  line-height: 40px;
}
header .btn,
.topbar .btn {
  float: right;
  font-size: 16px;
  color: #FFF;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 40px;
}
header .btn span,
.topbar .btn span {
  height: 100%;
  width: 1px;
  background: #FFF;
  float: left;
  background: #333333;
  /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
  /* Saf4+, Chrome */

  background: -webkit-linear-gradient(top, #555555, #333333);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(top, #555555, #333333);
  /* FF3.6 */

  background: -ms-linear-gradient(top, #555555, #333333);
  /* IE10 */

  background: -o-linear-gradient(top, #555555, #333333);
  /* Opera 11.10+ */

  background: linear-gradient(top, #555555, #333333);
  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="@color + #222", endColorstr="@color", GradientType=0);
  /* IE6-9 */
}
header .btn:active,
.topbar .btn:active {
  background: #333333;
  /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
  /* Saf4+, Chrome */

  background: -webkit-linear-gradient(top, #555555, #333333);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(top, #555555, #333333);
  /* FF3.6 */

  background: -ms-linear-gradient(top, #555555, #333333);
  /* IE10 */

  background: -o-linear-gradient(top, #555555, #333333);
  /* Opera 11.10+ */

  background: linear-gradient(top, #555555, #333333);
  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="@color + #222", endColorstr="@color", GradientType=0);
  /* IE6-9 */
}
header .btn:link,
.topbar .btn:link {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background: url(bg.png) top center fixed;
  overflow-x: hidden;
}
div[role="main"],
div.content {
  padding-top: 45px;
  height: 300px;
  width: 100%;
}
footer,
.tabbar {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #000000;
  /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#000000));
  /* Saf4+, Chrome */

  background: -webkit-linear-gradient(top, #222222, #000000);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(top, #222222, #000000);
  /* FF3.6 */

  background: -ms-linear-gradient(top, #222222, #000000);
  /* IE10 */

  background: -o-linear-gradient(top, #222222, #000000);
  /* Opera 11.10+ */

  background: linear-gradient(top, #222222, #000000);
  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="@color + #222", endColorstr="@color", GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 0px -1px 8px #000000;
  -moz-box-shadow: 0px -1px 8px #000000;
  box-shadow: 0px -1px 8px #000000;
}
footer .tabbar-items,
.tabbar .tabbar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
}
footer .tabbar-items .tabbar-item,
.tabbar .tabbar-items .tabbar-item {
  float: left;
  width: 48%;
  height: 46px;
  margin: 2px 1%;
}
footer .tabbar-items .tabbar-item a,
.tabbar .tabbar-items .tabbar-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
footer .tabbar-items .tabbar-item a:link,
.tabbar .tabbar-items .tabbar-item a:link {
  text-decoration: none;
}
footer .tabbar-items .tabbar-item a:active,
.tabbar .tabbar-items .tabbar-item a:active,
footer .tabbar-items .tabbar-item a.active,
.tabbar .tabbar-items .tabbar-item a.active {
  background: #111111;
  /* Old browsers */

  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  /* Saf4+, Chrome */

  background: -webkit-linear-gradient(top, #333333, #111111);
  /* Chrome 10+, Saf5.1+ */

  background: -moz-linear-gradient(top, #333333, #111111);
  /* FF3.6 */

  background: -ms-linear-gradient(top, #333333, #111111);
  /* IE10 */

  background: -o-linear-gradient(top, #333333, #111111);
  /* Opera 11.10+ */

  background: linear-gradient(top, #333333, #111111);
  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="@color + #222", endColorstr="@color", GradientType=0);
  /* IE6-9 */
}
