

//
// Functions
//
.gradient(@color:#222){
    background: @color; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(@color + #222), to(@color)); /* Saf4+, Chrome */
    background: -webkit-linear-gradient(top, @color + #222, @color); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, @color + #222, @color); /* FF3.6 */
    background: -ms-linear-gradient(top, @color + #222, @color); /* IE10 */
    background: -o-linear-gradient(top, @color + #222, @color); /* Opera 11.10+ */
    background: linear-gradient(top, @color + #222, @color); /* W3C */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="@color + #222", endColorstr="@color",GradientType=0 ); /* IE6-9 */ 
}

.box-shadow-bottom( @rgba:rgba(0, 0, 0,1) ) {
  -webkit-box-shadow: 0px 3px 8px @rgba;
  -moz-box-shadow:    0px 3px 8px @rgba;
  box-shadow:         0px 3px 8px @rgba;
}

.box-shadow-top( @rgba:rgba(0, 0, 0,1) ) {
  -webkit-box-shadow: 0px -1px 8px @rgba;
  -moz-box-shadow:    0px -1px 8px @rgba;
  box-shadow:         0px -1px 8px @rgba;
}


.border-radius( @radius:5px ) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}