
//
// === Header ===
//
header, .topbar {  
  position: fixed;
  height: @header-height;
  width: 100%;
  .gradient();
  .box-shadow-bottom();
  
  h1 { // 标题
      float: left;
      text-align: left;
      margin: 0;
      padding: 0 0 0 20px;
      font-size: 20px;
      color: #FFF;
      line-height: @header-height;
  }
  
  .btn {  // topbar右边按钮
    float: right;
    font-size: 16px;
    color: #FFF;
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: @header-height;
    // border-left: 1px #777 solid;
    
    -webkit-tap-highlight-color: #777;  // Tap改变颜色
    
    span { // 边线
      height: 100%;
      width: 1px;
      background: #FFF;
      float: left;
      .gradient( #333 );
    }
    
    
    &:link { // 去除默认连接下划线
      text-decoration: none;
    }
  }
  
}
