

@import 'config.less';
@import 'func.less';

@import 'header.less';


body {
  margin: 0;
  padding: 0;
  
  overflow-x: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;   // 禁止长按出现菜单
  -webkit-box-sizing: border-box;
}
/**
 * 	背景层， 使其固定背景
 */
#background {
	background: url(bg.png) top center fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:-99;
}


div[role="main"], div.content {
  
  padding-top: @header-height + 5px;
  
  height: 300px;
  width: 100%;
}



footer, .tabbar {
  height: @footer-height;
  width: 100%;
  position: fixed;
  bottom:0;
  .gradient( #000 );
  .box-shadow-top();
  
  .tabbar-items {
    list-style:none;
    padding: 0;
    margin: 0;
    height: @footer-height;
    
      .tabbar-item {
        float: left;
        width: 46%;
        height: @footer-height - 4px;  // 减去margin
        margin: 4px 2% 0 2%;
        
        a {
          -webkit-tap-highlight-color: none;  // Tap改变颜色
          
          display: block;
          width: 100%;
          height: 100%;
          color: #FFF;
          text-align: center;
          line-height: @footer-height - 4px;
          
          .border-radius();// 圆角
          
          &:link {
            text-decoration: none;
          }
          
          &.active  { //激活状态
            -webkit-tap-highlight-color: none;
            .gradient(#111);
          }
          &.touch {
            .gradient(#555);
          }
          
        }
        
      }
  }

  
}





/**
 * 	List
 */
.table-list {
	width: 100%;

	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	& > li {
		height: 60px;
		& > a {
			display: block;
			width: 100%;
			height: 100%;
			
			.gradient( #FFF );
		}
	}
}

